name: Build and Push Docker Image

on:
    push:
        branches:
            - dev
            - main
        tags:
            - "v*"

env:
    REGISTRY: ghcr.io
    IMAGE_NAME: ${{ github.repository }}

jobs:
    build-and-push:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Set Docker tag
              id: set-tag
              run: |
                  if [[ ${{ github.ref_type }} == 'tag' ]]; then
                    echo "TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
                  elif [[ ${{ github.ref }} == 'refs/heads/dev' ]]; then
                    echo "TAG=dev-${GITHUB_SHA::7}" >> $GITHUB_OUTPUT
                  else
                    echo "TAG=main-${GITHUB_SHA::7}" >> $GITHUB_OUTPUT
                  fi

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
              with:
                  platforms: linux/arm64
                  driver-opts: |
                      network=host

            - name: Log in to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Extract metadata
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v5
              with:
                  context: .
                  platforms: linux/arm64
                  push: true
                  tags: |
                      ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.set-tag.outputs.TAG }}
                      ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
                  labels: ${{ steps.meta.outputs.labels }}
                  cache-from: type=gha
                  cache-to: type=gha,mode=max
                  build-args: |
                      BUILDKIT_INLINE_CACHE=1
